.brand-container {
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 100px;
}

.brand-lists {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 4rem;
    position: relative;
}

.brand-items {
    padding: 0 10px;
}

.brand-items img {
    width: 200px;
    height: 200px;
    vertical-align: bottom;
}

.brand-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    transform: translate(0%, -15%);
    box-sizing: border-box;
    overflow: hidden;
}

.brand-border:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.5s;
    pointer-events: none;
}

.brand-border span{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}
.brand-border span:nth-child(1){
    transform: rotate(0deg);
}
.brand-border span:nth-child(2){
    transform: rotate(90deg);
}
.brand-border span:nth-child(3){
    transform: rotate(180deg);
}
.brand-border span:nth-child(4){
    transform: rotate(270deg);
}
.brand-border span:nth-child(2):before{
    animation-delay: -2s;
}
 .brand-border span:nth-child(4):before{
    animation-delay: -2s;
}
.brand-border span:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #0093ff;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: scaleX(0);
        transform-origin: left;
    }
    50%{
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1%{
        transform: scaleX(1);
        transform-origin: right;
    }
    100%{
        transform: scaleX(0);
        transform-origin: right;
    }
}

/* End Card Header */

/* Footer */    
.subscribe-container {
    max-width: 80%;
    margin: 0 auto;
}

.subscribe-lists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    border: 2px dotted #f9aa01;
    border-radius: 25px;
    margin-top: 40px;
}

.subscribe-newsletter {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.3846;
    text-transform: uppercase;
    color: #666666;;
    padding: 3rem;
}

.subscribe-newsletter .mail {
    color: #f9aa01;
    padding-right: 10px;
}

.subscribe-discount {
    max-width: 100%;
    font-size: 1rem;
    overflow-wrap: normal;
    color: #666666;
    padding: 3rem;
}
.subscribe-discount p {
    width: 350px;
}
.subscribe-discount span {
    color: #f9aa01;
}

.subscribe-form {
    width: 360px;
    position: relative;
    border-bottom: 2px solid rgba(204, 204, 204, 0.1);
    padding: 3rem;
}

.inputBox {
    position: relative;
    width: 250px;
}

.inputBox input {
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: .75rem;
    letter-spacing: 0.1em;
    padding: 10px 0 5px;
}

.inputBox span {
    font-size: .75rem;
    position: absolute;
    left: 0;
    padding: 10px 0 5px;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    letter-spacing: 0.1em;
    transition: 0.5s;
}

.inputBox input:valid ~ span, 
.inputBox input:focus ~ span {
    color: rgba(255, 255, 255, 0.5);
    font-size: .75rem;
    opacity: 0;
}

.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    overflow: hidden;
}

.inputBox i::before {
    content: '';
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgb(139, 51, 132);
    animation: animates 2s linear infinite;
    transition: 0.5s;
}

.inputBox input:valid ~ i::before, 
.inputBox input:focus ~ i::before {
    left: 0;
}

@keyframes animates {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 250px;
    }
}

.subscribe-btn button{
    width: 100%;
    color: #fff;
    background-color: #f9aa01;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    min-width: 179px;
    height: 46px;
    border-radius: 23px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.subscribe-btn button:hover {
    color: #f9aa01;
    background-color: #fff;
}
/* End Footer */

/* Show Modal */
.show-overlay {
    width: 100%;
    height: 100%;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow-y: scroll;
    background-color: rgba(0,0,0,.4);
    z-index: 10000;
    pointer-events: none;
    transition: opacity .3s;
    overflow-y: auto;
    opacity: 1;
    pointer-events: auto;
}


.show-overlay .show-modal {
    opacity: 1;
    pointer-events: auto;
    box-sizing: border-box;
    -webkit-animation: showSweetAlert .3s;
    animation: showSweetAlert .3s;
    will-change: transform;
}

.show-modal {
    width: 478px;
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    position: static;
    margin: 20px auto;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 10001;
    transition: opacity .2s,-webkit-transform .3s;
    transition: transform .3s,opacity .2s;
    transition: transform .3s,opacity .2s,-webkit-transform .3s;
}

.swal-success__icon {
    width: 80px;
    height: 80px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    border-color: #a5dc86;
    margin: 20px auto;
    margin-top: 32px;
}

.swal-success__icon::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 120px;
    background: #fff;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
}

.swal-success__icon::after  {
    content: "";
    position: absolute;
    width: 60px;
    height: 120px;
    background: #fff;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 60px;
    transform-origin: 0 60px;
    -webkit-animation: rotatePlaceholder .55s;
    animation: rotatePlaceholder .55s;
}

.swal-icon--success-long {
    width: 47px;
    right: 8px;
    top: 38px;
    height: 5px;
    background-color: #a5dc86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: animateSuccessLong .75s;
    animation: animateSuccessLong .75s;
}

.swal--icon--sucess-tip {
    width: 25px;
    height: 5px;
    background-color: #a5dc86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: animateSuccessTip .75s;
    animation: animateSuccessTip .75s;
}

.swal-icon--success__ring {
    width: 80px;
    height: 80px;
    border: 4px solid hsla(98,55%,69%,.2);
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.swal-icon--success__hide-corners {
    width: 5px;
    height: 90px;
    background-color: #fff;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.swal__title {
    font-weight: 600;
    text-transform: none;
    position: relative;
    display: block;
    font-size: 27px;
    text-align: center;
    margin-bottom: 13px;
    color: rgb(51, 51, 51);
    font-size: 18px;
    line-height: 1.5;
    padding: 0px 15px;
}

.swal__text {
    color: rgb(85, 85, 85);
    font-size: 16px;
    line-height: 1.66667;
    text-align: center;
    position: relative;
    float: none;
    vertical-align: top;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
    max-width: calc(100% - 20px);
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.swal__footer {
    text-align: right;
    padding: 13px 16px;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0px;    
}

.swal-btn-container {
    margin: 5px;
    display: inline-block;
    position: relative;
}

.swal-btn-container button {
    background-color: #f9aa01;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: unset;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    border: none;
    box-shadow: none;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
}

.swal-btn-container button:hover {
    background-color: #212529;
    color: #fff;
}

@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px
    px
    ;
    }
}

@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes showSweetAlert {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    1% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(.95);
        transform: scale(.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes rotatePlaceholder {
    0%{
        transform: rotate(100deg);
    }
    100%{
        transform: rotate(-45deg);
    }
  }

/* End Show Modal */


/* SLIDE IMAGE  */
.brand-slide__container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    gap: 4rem;
}

.container {
    width: 100%;
    border-color: white;
    overflow: hidden;
}

.brand-slide__items {  
    width: 100%;  
}
.brand-slide__items img {
    width: 90%;
    margin: auto;
}
/* End SLIDE IMAGE  */
@media screen and (max-width: 420px) {
    .subscribe-container {
        max-width: 80%;
        margin: 0 auto;
    }
    .subscribe-discount p {
        width: 100%;
        text-align: center;
    }
    .show-overlay .show-modal {
        width: 360px;
        margin: 20px 20px 20px 20px;
    } 
}
@media screen and (max-width: 400px) {  
    .show-overlay .show-modal {
        width: 360px;
        margin: 20px 20px 20px 15px;
    } 
}
@media screen and (max-width: 379px) {
    .subscribe-container {
        max-width: 80%;
    }
    .subscribe-discount {
        padding: 50px;
    }
    .subscribe-discount p {
        width: 100%;
        text-align: center;
    }
    .slick-dots {
        display: none;
    }
}

@media screen and (max-width: 362px) {
    .subscribe-container {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 300px) {
    .subscribe-newsletter {
        font-size: 1rem;
        padding: 3rem 0rem;
    }
    .subscribe-discount {
        padding: 2rem 0rem;
    }
    .subscribe-form {
        width: 290px;
    }
    .subscribe-btn button {
        height: 40px;
    }
    .show-overlay .show-modal {
        width: 250px;
        margin: 20px 20px 20px 20px;
    }
}