
.actionContainer {
    position: relative;
}
.col12 {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    width: 100%;
    top: 200px;
    z-index: 1;
}
.actionContainer span {
    font-size: 2rem;
}
.latestblogTitle::after {
    position: absolute;
    content: "Biggest Series";
    left: 80px;
    right: 0px;
    top: -25px;
    bottom: 0px;
    color: #f9aa01;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 800;
    transform: rotate(-4deg);
}

.mainSlide {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
.slide{
    position: relative;
}
.slide img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    vertical-align: bottom;
}

.none {
    display: none;
}

.filter {
    padding-block: 80px;
}

.productCardBtn {
    left: 32%;
}
.productCardBtn button{
    min-width: 100px;
    height: 32px;
}
@media screen and (max-width: 1280px) {
    .productCardBtn {
        left: 25%;
    }
}
@media screen and (max-width: 1231px) {
    .productCardBtn {
        left: 26%;
    }
}
@media screen and (max-width: 1125px) {
    .productCardBtn {
        left: 23%;
    }
}
@media screen and (max-width: 1024px) {
    .productCardBtn button{
        min-width: 80px;
        height: 30px;
    }
    .productCardBtn {
        left: 25%;
    }
}
@media screen and (max-width: 939px) {
    .productCardBtn {
        left: 25%;
    }
}
@media screen and (max-width: 820px) {
    .productCardBtn {
        left: 22%;
    }
}
@media screen and (max-width: 785px) {
    .productCardBtn {
        left: 24%;
    }
    .productCardBtn button{
        font-size: .75rem;
        min-width: 80px;
        height: 30px;
    }
}
@media screen and (max-width: 649px) {
    .productCardBtn {
        left: 20%;
    }
}
@media screen and (max-width: 596px) {
    .productCardBtn {
        left: 30%;
    }
}
@media screen and (max-width: 479px) {
    .productCardBtn {
        left: 32%;
    }
    .productCardBtn button{
        font-size: .85rem;
        min-width: 120px;
        height: 40px;
    }
}
@media screen and (max-width: 421px) {
    .productCardBtn {
        left: 28%;
    }
}
@media screen and (max-width: 360px) {
    .productCardBtn {
        left: 24%;
    }
}
@media screen and (max-width: 338px) {
    .productCardBtn {
        left: 24%;
    }
}
@media screen and (max-width: 320px) {
    .latestblogTitle::after {
        left: 0;
    }
    .actionContainer span {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 299px) {
    .productCardBtn {
        left: 27%;
    }
    .productCardBtn button{
        font-size: .75rem;
        min-width: 90px;
        height: 30px;
    }
}